<perfect-scrollbar>  
  <form nz-form [formGroup]="securedInfoForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item class="myinformation-form__form-item">
        <nz-form-control nzHasFeedback nzErrorTip="{{MY_INFORMATION.NAME_ALERT}}">
          <input type="text" nz-input formControlName="name" 
          placeholder="{{MY_INFORMATION.NAME_PLACEHOLDER}}" />
          <i class="myinformation-form__control__tooltip" nz-icon nz-tooltip 
          nzTooltipTitle="Extra information" nzType="info-circle"></i>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="myinformation-form__form-item">
        <nz-form-control nzHasFeedback nzErrorTip="{{MY_INFORMATION.EMAIL_ALERT}}">
          <input nz-input formControlName="sendEmail" placeholder="{{MY_INFORMATION.EMAIL_PLACEHOLDER}}" 
          email  nzTooltipTitle="Tooltip"/>
          <i class="myinformation-form__control__tooltip" nz-icon nz-tooltip 
          nzTooltipTitle="Extra information" nzType="info-circle"></i>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="myinformation-form__form-item">
        <nz-form-control nzHasFeedback>
          <nz-date-picker nzSuffixIcon="calendar" class="myinformation-form__item-sendDateTime" nzShowTime 
          formControlName="sendDateTime" nzPlaceHolder="{{MY_INFORMATION.SEND_DATETIME_PLACEHOLDER}}" 
          (click)="sendDateClick()"></nz-date-picker>
          <i class="myinformation-form__control__tooltip" nz-icon nz-tooltip 
          nzTooltipTitle="{{MY_INFORMATION.SEND_DATETIME_TOOLTIP}}" nzType="info-circle"></i>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="myinformation-form__form-item">
        <nz-form-control nzHasFeedback 
          nzErrorTip="{{MY_INFORMATION.INFORMATION_ALERT}}">
          <textarea nz-input formControlName="information" 
          [(ngModel)]="securedInfoForm.value.information" 
          placeholder="{{MY_INFORMATION.INFORMATION_PLACEHOLDER}}"></textarea>
          <i class="myinformation-form__control__tooltip" nz-icon nz-tooltip 
          nzTooltipTitle="Extra information" nzType="info-circle"></i>
        </nz-form-control>
      </nz-form-item>
      <div nz-row>
        <div nz-col nzSpan="12">
          <button nz-button [disabled]="isDisabled" nzType="default">
            {{MY_INFORMATION.TURN_OFF_BTN}}
          </button>
        </div>
        <div nz-col nzSpan="12">
          <button nz-button class="login-form-button" [nzType]="'primary'">
            {{MY_INFORMATION.SUBMIT_BTN}}
          </button>
        </div>
      </div>
    </form>
</perfect-scrollbar>
